<header class="header bg-dark py-3">
    <div class="container">
        <h1 class="text-light">Сервис каршеринга</h1>
        <nav class="nav">
            <ul class="nav justify-content-end">
                <li class="nav-item"><a class="nav-link text-light" th:href="@{/}" style="transition: background-color 0.3s ease-out;">Главная</a></li>
                <li class="nav-item"><a class="nav-link text-light" th:href="@{/cars}" style="transition: background-color 0.3s ease-out;">Автомобили</a></li>
                <li th:if="${userDetails != null}" class="nav-item">
                    <a class="nav-link text-light" th:href="@{/profile}" style="transition: background-color 0.3s ease-out;">
                        Профиль <span th:text="${userDetails.getUsername()}"></span>
                    </a>
                </li>
                <li th:if="${userDetails != null}" class="nav-item">
                    <a class="nav-link text-light" th:href="@{/logout}" style="transition: background-color 0.3s ease-out;">Выход</a>
                </li>
                <li th:unless="${userDetails != null}" class="nav-item">
                    <a class="nav-link text-light" th:href="@{/login}" style="transition: background-color 0.3s ease-out;">Вход</a>
                </li>
                <li th:unless="${userDetails != null}" class="nav-item">
                    <a class="nav-link text-light" th:href="@{/registration}" style="transition: background-color 0.3s ease-out;">Регистрация</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
